*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family:Arial;
	color:#E0E6EB;
	background-color: white;
}
.for-sale-drop-down-menu select{
	display: flex;
	border: none;
	color:lightslategray;
	background-color: white;
	font-size: 10px;
}
a:link{
	display: flex;
	color: lightslategray;
	font-size: 70%;
}

.my-account {
	margin-top: 15px;
	margin-right: 10px;
}

.top-right-menu{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: lightslategray;
	font-size: 13px;
	margin-left: 800px;
}
.Post-an-ad button{
	border: none;
	color: white;
	background-color: #4a9df5;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 10px;
	cursor: pointer;
}
header{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-left: 0;
	justify-content: center;
}
.form{
	display: flex;
}

.form input {
	border: none;
	border-bottom: 1px solid #E0E6EB;
	height: 70px;
	width: 600px;
	font-size: 25px;
	color: lightslategray;
	background-image: url("magnifier.png");
	background-repeat: no-repeat;
	background-position: left;
}
.in{
	display: flex;
	color: #CACACA;
	font-size: 20px;
	margin: 20px;
}
.location select{
	display: flex;
	border: none;
	height: 70px;
	width: 400px;
	font-size: 25px;
	color: lightslategray;
	background-color: white;
	border-bottom: 1px solid #E0E6EB;
}
.search{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 70px;
	font-size: 25px;
	color: lightslategray;
	margin-left: 0;
	margin-right:0;
	margin-top: 50px;

}
.menuImages {
	display: inline-block;
}
.Prices select {
	display: flex;
	border: none;
	background-color: white;
	color: lightslategray;
	border-right: 1px solid #E0E6EB;
}
.hill-numerber select {
	display: flex;
	border: none;
	background-color: white;
	color: lightslategray;
	border-right: 1px solid #E0E6EB;
}
.Type select {
	display: flex;
	border: none;
	background-color: white;
	color: lightslategray;
	border-right: 1px solid #E0E6EB;
}
.More select {
	display: flex;
	border: none;
	background-color: white;
	color: lightslategray;
	border-right: 1px solid #E0E6EB;
}
.oldest-first select {
	display: flex;
	border: none;
	background-color: white;
	color: lightslategray;
	margin-left: 580px;
}
.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
	margin-left: 0;
	border-bottom: 1px solid #E0E6EB;
}
.mountain{
	display: flex;
	justify-content: center;
	margin-left: 0;
	margin-top: 0;
}
